<p>directives works!</p>
<h1 *ngFor="let age of ages">my age is{{age}}</h1>
<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>
<select>
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>
<h1 *ngFor="let user of users">my name is {{user.name}} with age {{user.age}} and phone is{{user.phone}}</h1>
<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>

<div class="card"  *ngFor="let user of users">
    <h1> name:{{ user.name}}</h1>
    <h1> age: {{user.age}}</h1>
</div>

<h1 *ngIf="true">directives</h1>