body{
    margin: 0;
}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    
    
    
    
}
.child{
    height: 50%;
    width: 33%;
    background-color: aqua;
    

}