.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    cursor: pointer;
    
    
    
    
    
}
.child1{
    width: 20%;
    height: 100%;
    background-color: blue;
    text-align: center;
    overflow: auto;

}
.child2{
    width: 80%;
    height: 100%;
    background-color:brown;
    overflow: auto;

}
h3:hover{
    background-color: white;

}