<div class="parent">
    <div class="child1">
          <h1>My Website</h1>
          <h3 routerLink="home">Home</h3>
          <h3 routerLink="about">About</h3>
          <h3 routerLink="calculator">Calculator</h3>
          <h3 routerLink="circle">Circle</h3>
          <h3 routerLink="directives">directives</h3>
          <h3 routerLink="marks">marks</h3>
          <h3 routerLink="table">Table</h3>
          <h3 routerLink="events">Events</h3>
          <h3 routerLink="vechile">Vechile</h3>
          <h3 routerLink="account">Accounts</h3>
          <h3 routerLink="flipkart">Flipkart</h3>
          <h3 routerLink="mail">Mail</h3>
          <h3 routerLink="employee">Employee</h3>
          <button routerLink="/login">Logout</button><br>
          
          
          
         
         
         
          
    </div>
    <div class="child2">
         <!-- <app-home></app-home> -->
         <router-outlet></router-outlet>
    </div>
</div>
