<div class="parent">
    <input type="text" placeholder="search" [(ngModel)]="filter">
    <button (click)="filterFunc()">search</button>
    <select name="" id="" [(ngModel)]="column">
      <option value="">column</option>
      <option value="name">name</option>
      <option value="phone">phone</option>
      <option value="city">city</option>
      <option value="fee">fee</option>
      <option value="id">id</option>
    
</select>
<select name="" id=""[(ngModel)]="order">
    <option value="">Order</option>
    <option value="asc">Acending</option>
    <option value="desc">Decending</option>

    <button>sort</button>

    <select name="" id="" >
        <option value=0>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>

</select>
<div class="child">
    <div class="card" *ngFor="let info of information">
   
        <img src="" alt="">
        <h4 class="card-title">name:{{info.name}}</h4>
        <h4 class="card-text">phone:{{info.phone}}</h4>
        <h4 class="card-text">city:{{info.city}}</h4>
        <h4 class="card-text">id:{{info.id}}</h4>
        <button style="background-color: red;">delete</button>




</div>


</div> 
